@font-face {
    font-family: Gotham-Book;
    src:url('font/Gotham-Book.woff') format('woff'),
        url('/font/Gotham-Book.woff2') format('woff2'),
        url('/font/Gotham-Book.svg') format('svg'),
        url('/font/Gotham-Book.eot'),
        url('/font/Gotham-Book.eot?#iefix') format('embedded-opentype'),
        url('/font/Gotham-Book.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



@import 'default';


@media (min-width: 790px) { 
	@import 'md-up';
}

@media (max-width: 789px) { 
	@import 'md-down';
}
